.top-model {
  display: flex;
  align-items: center;
  padding: 20px;
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .img{
      width: 100%;
      border-radius: 100%;
    }
  }

  .user-login {
    padding-left: 20px;
  }

}

.order-model {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 0 30px;

  .order-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order-status {
    padding: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    image {
      width: 60px;
      height: 60px;
      display: block;
      margin: 0 auto 6px;
    }
    .item {
      text-align: center;
    }
  }

  .all-order {
    color: #999;
    position: relative;
    padding-right: 20px;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top:50%;
      border-top: 5px solid #666;
      border-right: 5px solid #666;
      transform: translateY(-50%) rotate(45deg);
      width: 14px;
      height: 14px;
    }
  }
}

.address-mode {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  margin: 20px 30px;
}

.right-arrow {
  border-top: 5px solid #666;
  border-right: 5px solid #666;
  transform: rotate(45deg);
  width: 14px;
  height: 14px;
}
