.cart-list {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;

  .m-top {
    display: flex;
    align-items: center;
  }

  .pics {
    margin-right: 16px;
    width: 100px;
  }

  .check {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 16px;
    background: url(../../assets/imgs/icon_unselected.png) 0 0 no-repeat;
    background-size: 100% 100%;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-spacing: break-all;
  }

  .price_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.m-active {
  .check {
    background-image: url(../../assets/imgs/icon_selected.png);
  }
}

.cart-bottom {
  padding: 10px;
  background: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 10;

  .all-cal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .calculate {
      padding: 20px;
      border-radius: 30px;
      color: #fff;
      background: #f2270c;
      text-align: center;
      width: 160px;
    }

    .check-model{
      display: flex;
      align-items: center;
   }

    .all-check {
      display: inline-block;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      margin-right: 16px;
      background: url(../../assets/imgs/icon_unselected.png) 0 0 no-repeat;
      background-size: 100% 100%;
    }
    .all-checked {
      background-image: url(../../assets/imgs/icon_selected.png);
    }
  }
}
