.swiper-con{
  background:#efefef;
  border-radius: 3px;
}

.home-lists{
  margin-top:30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  padding:0 10px;

}