.swiper-con{
  background:#efefef;
  border-radius: 3px;

  image{
    width: 100%;
    height: 100%;
  }
}

.home-lists{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-between;
  padding: 0 10px;
}